<head>
    <style>
        .page-title {
            z-index: 1000;
            height: 55px;
            display: flex;
            align-items: center;
            position: fixed;
            text-transform: uppercase;
            margin-left: 50px;
        }
    </style>
</head>
<div class="page-title">
    <h2><%= pagetitle %></h2>
</div>