<% if (title==='Company List' ) { %>
    <div class="complist-search-area w-50" id="complistsearchList"></div>
    <% } else if (title==='Subscribers List' ) { %>
        <div class="schNotif-search-area w-50" id="schNotifsearchList"></div>
        <% } else if (title==='Reports Logs' ) { %>
            <div class="reports-search-area w-50" id="reportssearchList"></div>
            <% } %>