<div>
    <button data-bs-toggle="modal" data-bs-target="#regCompanyModal" id="register-company-btn" class="btn btn-outline-primary">
        Register Subscriber
    </button>
    <button data-bs-toggle="modal" data-bs-target="#createAdminModal" id="register-admin-btn" class="btn btn-outline-primary">
        Create Admin
    </button>
</div>
<button data-bs-toggle="modal" data-bs-target="#createNoticeModal" id="register-company-btn" class="btn btn-outline-primary">
    Create Notification
</button>
<%- include('../components/reg-sub.ejs') %>
<%- include('../components/create-notif.ejs') %>
<%- include('../components/create-admin.ejs') %>
