<h1 id="response-message" class="display-4 text-primary mb-3 text-center" style="font-weight: 900; height: fit-content; font-size: 3em">
  RESET PASSWORD
</h1>
<p id="instruction" class="text-center">Enter a new password.</p>
<p id="error-message" class="text-danger text-center"></p>

<form id="resetPassForm" action="/superadmin/reset-password" method="POST" class="text-center">
  <input type="hidden" name="token" value="<%= token %>" />
  <!-- Password Input Group -->
  <div class="mb-3 input-group">
      <span class="input-group-text bg-primary text-white border border-primary border-2 rounded-start">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="white">
              <path
                  d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm240-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z" />
          </svg>
      </span>
      <input type="password" id="newPassword" name="newPassword" placeholder="New Password"
          class="form-control border border-primary border-2 rounded-end pt-2 pb-2" autocomplete="off" required/>
  </div>

  <button type="submit" id="resetPassSubmit"
      class="btn btn-secondary btn-lg mt-3 fs-6 fw-bold ps-5 pe-5 text-uppercase rounded-5 text-white">
      Reset Password
  </button>
  <br><br>
  <p class="text-muted text-center">
      Powered by: <img src="/pics/filmetrics.png" style="height: 20px" />
  </p>
</form>