<head>
    <link rel="stylesheet" href="/styles/change-stat.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
    <div class="page-custom" id="pageCustom">
        <h1>Page Customization Modal</h1>
    </div>
</body>
