<head>
    <link rel="stylesheet" href="/styles/change-stat.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
    <div class="report-settings" id="reportSettings">
        <h1>Reports Modal</h1>
    </div>
</body>
